<p>
    Welcome to the access section!
    <a ui-sref="home">Go home!</a></li>
</p>

<form name="login_form" ng-submit="login" role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" ng-model="ctrl.username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="ctrl.password">
    </div>
    <div class="form-actions">
        <button type="submit">Login</button>
    </div>


</form>
