<p>
    Welcome home!
    <a href="" ng-click="logout()">Log out</a>

</p>

<div>
    <div class="col-sm-3">
        <br>
        <!--<div class="alert alert-success" ng-if="addError">
            <strong>Alert!</strong> Not added properly</p>
        </div>-->
        <div ng-if="addError" class="alert alert-success" ng-if="addError">
            <p><strong>Alert!</strong> Problem adding bookmark</p>
        </div>
        <form novalidate role="form">
            <div class="form-group">
                <label for="user">Name:</label>
                <input type="text" ng-model="bookmarkToAdd.name" id="user" class="form-control">
            </div>
            <div class="form-group">
                <label for="link">Link:</label>
                <input type="text" ng-model="bookmarkToAdd.link" id="link" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" ng-model="bookmarkToAdd.description" id="description" class="form-control">
            </div>
            <button ng-click="addBm()" class="btn btn-default">Add bookmark!</button>
        </form>
        <br>
        <button ng-click="getBmList()" class="btn btn-default"> Show my bookmarks</button>
        <br>
    </div>

    <!-- Table of bookmarks -->
    <div class="col-sm-9">
        <div class="container">
            <h2>My bookmarks</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bookmark in bookmarkList">
                        <td>{{ bookmark.name }}</td>
                        <td>{{ bookmark.url }}</td>
                        <td>{{ bookmark.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
