<p>
    Welcome home!
    <a href="" ng-click="logout()">Log out</a>

</p>

<div>
    <div class="col-sm-3">
        <br>
        <div ng-if="addError" class="alert alert-danger" ng-if="addError">
            <p><strong>Alert!</strong> Problem adding bookmark</p>
        </div>
        <form novalidate role="form">
            <div class="form-group">
                <label for="user">Name:</label>
                <input type="text" ng-model="bookmarkToAdd.name" id="user" class="form-control">
            </div>
            <div class="form-group">
                <label for="link">Link:</label>
                <input type="text" ng-model="bookmarkToAdd.link" id="link" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" ng-model="bookmarkToAdd.description" id="description" class="form-control">
            </div>
            <button ng-click="addBm()" class="btn btn-default">Add bookmark!</button>
        </form>
    </div>

    <!-- Table of bookmarks -->
    <div class="col-sm-8">
        <div class="container">
            <h2>My bookmarks</h2>
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label">Sort by </label>
                    <select class="form-control input-sm" ng-model="sortCriteria"
                        ng-options="criteria.value as criteria.name for criteria in sortCriteriaOptions">
                    </select>
                </div>
                <div class="form-group">
                    <button ng-click="changeSortCriteria()" class="btn btn-sm btn-default">Go!</button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bookmark in bookmarkList" >
                        <td>{{ bookmark.name }}</td>
                        <td>{{ bookmark.url }}</td>
                        <td>{{ bookmark.description }}</td>
                        <td>
                            <button ng-click="updateBm($index)" class="btn btn-default">Modify</button>
                            <!--<button ng-click="updateBm($index)" class="btn btn-default">Modify</button>-->
                            <button ng-click="delBm($index)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pager">
                    <!--<li class="previous" ng-class="{'disabled':bookmarksPage == 0}">-->
                    <li class="previous" ng-if="bookmarksPage != 0">
                        <a href="" ng-click="retrievePrevPage()">
                            <span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next"><a href="" ng-click="retrieveNextPage()">
                        Newer <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
