<p>
    Welcome new user! We were waiting for you.
    <a ui-sref="acces">Registered? Log in</a>
</p>
<div>
    <form novalidate>
        Username:<br>
        <input type="text" ng-model="user.name"><br>
        Password:<br>
        <input type="password" ng-model="user.password"><br>
        Repeat password:<br>
        <input type="password" ng-model="user.password2">
        <br><br>
        <button ng-click="register()">Register</button>
        <!-- TODO: check if pass has less than x char && if they are diff (if so, disable button)
        Also if there are fields not completed.
        Not disable the button, disable the behaviour (does nothing and show error)-->

    </form>
    <p ng-if="registerError">Error</p>
    <p ng-if="registerError">No error</p>
    <p ng-if="registerOK">{{ user.name, user.password}}</p>
</div>
