<nav class="navbar navbar-inverse navbar-fixed-top"><div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Agnostic Bookmarks</a>
    </div>

    <div  class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <!-- <li ng-class="{'active': isActiveSection('/access')}" ng-hide="isLoggedIn()"><a ui-sref="access" class="navbar-link">Login/Register</a></li> -->
            <!-- <li ng-class="{'active': isActiveSection('/home')}" ng-show="isLoggedIn()"><a ui-sref="home">Home</a></li> -->
            <!-- <li ng-class="{'active': isActiveSection('/settings')}" ng-show="isLoggedIn()"><a ui-sref="settings">Settings</a></li> -->
            <!-- <li ng-class="{'active': isActiveSection('/about')}"><a ui-sref="about">About</a></li> -->
            <li ng-show="isLoggedIn()"><a ui-sref="access" class="navbar-link" ng-click="logOut()">Logout</a></li>
        </ul>
    </div>
</div></nav>
